# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

    # Runs a single command using the runners shell
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.1
      
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      
    - name: Download references
      uses: carlosperate/download-file-action@v1.0.3
      with:
        file-url: 'https://www.exiled.host/build_deps/References.zip'
        file-name: 'References.zip'
        
    - name: Download EXILED files
      uses: carlosperate/download-file-action@v1.0.3
      with:
        file-url: 'https://github.com/galaxy119/EXILED/releases/download/2.0.10/Exiled.tar.gz'
        file-name: 'References.tar.gz'

    - name: Download 7zip
      uses: carlosperate/download-file-action@v1.0.3
      with:
        file-url: 'https://www.exiled.host/7za.exe'
        file-name: '7zip.exe'

    - name: Extract Refs
      run: ./7zip.exe e References.zip -obin/Release -r -y
      
    - name: Extract EXILED
      run: tar xzvf References.tar.gz

    - name: Build
      env:
        EVENTMANAGER_REFERENCES: ./References
      run: |
        msbuild EventManager -p:Configuration=release

    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: Build Results
        path: bin/Release

    - name: Upload Plugin Build
      uses: actions/upload-artifact@v2
      with:
        name: EXILED DLLs
        path: bin/Release/EventManager*.dll
